

body {
    margin: auto;
    width: 50%;
    height: 20%;
    border: 8px solid rgb(0, 0, 0);
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 150px;
    background-color: rgb(white);
    background-image: url("assets/site.png");
    }

h1{
  font-family:Arial, Helvetica, sans-serif
  }

#btn {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(236, 162, 52);
    border-style:hidden;
    position: absolute; 
    margin-top:580px;
    size: 10px;
  }

#konvajs-content {
   position: relative; 
   user-select: none; 
   width: 1858px; 
   height: 500px;
   background-color: aqua;
  }